<div class="container">
    
    <img ng-src="../assets/img/banner.jpg" class="banner-image col-sm-offset-1 col-sm-10 col-xs-12">
    
    <div class="home_quote col-sm-offset-1 col-sm-10 col-xs-12">
        Die Beschäftigung vor allem mit den Rebsorten Blaufränkisch und Sankt Laurent, die Charakterisierung der
        jeweiligen Herkünfte und die Auseinandersetzung mit den vorhandenen Böden und Mikroklimata war und ist
        unser erklärtes Ziel.
    </div>
    <div class="home_quote author col-sm-offset-1 col-sm-10 col-xs-12">
        - Hannes Schuster
    </div>
</div>