<div class="container">

  <div ng-repeat="country in countries" class="col-sm-4 col-md-3 col-xs-12 ">
    <div class="partners_country_container">
      <img ng-src="assets/img/flags/{{country.name}}.png" class="partners_flags_img" />
      <div class="partners_country" ng-if="translate.use() === 'en'">{{country.name}}</div>
      <div class="partners_country" ng-if="translate.use() === 'de'">{{country.name_de}}</div>
    </div>

    <div ng-repeat="partner in country.partners | orderBy : 'name'" class="partners_contact_card">
      <div class="partners_contact_card_hl">{{partner.name}}</div>
      <div class="">{{partner.address}}</div>

      <a ng-if="partner.website" href="{{partner.website}}" target="_blank">{{partner.website | removeHTTP}}</a>
      <a ng-if="partner.email" href="mailto:{{partner.email}}" target="_top">{{partner.email}}</a>
    </div>

  </div>
</div>