<div class="container">

  <div ng-repeat="country in countries" class="col-sm-4 col-md-3 col-xs-12 ">
    <div class="partners_country_container">
      <img ng-src="assets/img/flags/{{country.name}}.png" class="partners_flags_img" />
      <div class="partners_country" ng-if="translate.use() === 'en'">{{country.name}}</div>
      <div class="partners_country" ng-if="translate.use() === 'de'">{{country.name_de}}</div>
    </div>

    <div ng-repeat="partner in country.partners | orderBy : 'name'" class="partners_contact_card">
      <div class="partners_contact_card_hl">{{partner.name}}</div>
      <div class="">{{partner.address}}</div>

      <a ng-if="partner.website" href="{{partner.website}}" target="_blank">{{partner.website | removeHTTP}}</a>
      <a ng-if="partner.email" href="mailto:{{partner.email}}" target="_top">{{partner.email}}</a>
    </div>

  </div>
</div>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74000801-1', 'auto');
  ga('send', 'pageview', '/partners');
</script>