<div class="container">

  <!-- GOOGLE MAPS -->
  <div ng-controller="GoogleMapsCtrl" class="gmap_container col-xs-12">
    <ui-gmap-google-map center='map.center' zoom='map.zoom' styles='map.styles' options="map.options">
      <ui-gmap-marker coords="marker.coords" options="marker.options" click="onClick" idkey="marker.id">
        <ui-gmap-window show="true" closeClick="closeClick">
          <div><b>{{"VINEYARD" | translate | uppercase}} {{ "ROSI_SCHUSTER" | translate | uppercase}}</b><br />
            <wrs-address></wrs-address><br />
            <wrs-mail-tel hide-web="true" hide-icons="true"></wrs-mail-tel>
          </div>
        </ui-gmap-window>
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </div>

  <div class="col-sm-6 col-xs-12">
    <div class="contact_address">
      <h3>{{"VINEYARD" | translate | uppercase}} {{ "ROSI_SCHUSTER" | translate | uppercase}}</h3>
      <wrs-address></wrs-address>
    </div>

    <div class="contact_web_mail">
      <wrs-mail-tel></wrs-mail-tel>
    </div>

    <div class="contact_jurisdiction_uid">
      {{"PLACE_OF_JURISDICTION" | translate}} <br />
      UID Nr.: ATU66622103 <br />
      {{"PHOTOGRAPHY_BY" | translate}}
    </div>
  </div>

  <div class="content" ng-controller="ImgGalleryCtrl">
    <ng-gallery images="images" class="col-sm-6 col-xs-12"></ng-gallery>
  </div>

</div>