<div class="container">

  <div ng-controller="GoogleMapsCtrl" class="gmap_container col-xs-12">
    <ui-gmap-google-map center='map.center' zoom='map.zoom' styles='map.styles' options="map.options">
      <ui-gmap-marker coords="marker.coords" options="marker.options" click="onClick" idkey="marker.id">
        <ui-gmap-window show="true" closeClick="closeClick">
          <div><b>Weingut Rosi Schuster</b><br />
            Prangergasse 2<br />
            7062 St. Margarethen<br />
            Österreich<br />
            <a href="mailto:weingut@rosischuster.at" target="_top">weingut@rosischuster.at</a><br />
            <a href="tel:+4326802624">+43 2680 2624</a>
          </div>
        </ui-gmap-window>
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </div>

  <div class="col-sm-6 col-xs-12">
    <div class="contact_address">
      <h3>Weingut Rosi Schuster</h3>
      <div>
        Prangergasse 2<br />
        7062 St. Margarethen im Burgenland<br />
        Österreich
      </div>
    </div>

    <div class="contact_web_mail">
      <a href="mailto:weingut@rosischuster.at" target="_top">
        <i class="glyphicon glyphicon-envelope contact_icon_margin"></i>weingut@rosischuster.at
      </a><br />
      <a href="tel:+4326802624"><i class="glyphicon glyphicon-earphone contact_icon_margin"></i>+43 2680 2624</a><br />
      <a href="http://www.rosischuster.at"><i class="glyphicon glyphicon-globe contact_icon_margin"></i>www.rosischuster.at</a>
    </div>

    <div class="contact_jurisdiction_uid">
      Gerichtsstand: Eisenstadt <br />
      UID Nr.: ATU66622103
    </div>
  </div>

  <div class="content" ng-controller="ImgGalleryCtrl">
    <ng-gallery images="images" class="col-sm-6 col-xs-12"></ng-gallery>
  </div>

</div>